<!DOCTYPE html>
<html>
  <head>
    <title>Webex Teams</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://downloads.momentum-ui.com/@momentum-ui/core/css/momentum-ui.min.css" rel="stylesheet">
    <style type="text/css">
      .container {
        max-width: 500px;
        padding-top: 100px;
      }
      h2 {color: red;}
    </style>
  </head>
    <body style="position: absolute";>
      <div class="md-panel md-panel--form md-panel--full">
        <div class="md-panel__main">
          <img alt="" class="md-panel__image" src="https://meraki.cisco.com/img/cisco-meraki-logo.png">
          <div class="md-panel__title">Your Meraki Webhooks have been {{mode}} Webex Teams!</div>
          <br>
            <div class="md-panel__title"><a href="/">Click here to Start Over.</a></div>
        </div>
        <div class="md-panel__footer">
          <div class="footer__logo">
            <i class="icon icon-cisco-logo"></i>
          </div>
        </div>
        </div>
  </body>
</html>